### Desafio :

- Analise o dataset aluguel.csv da aula passada.
- Crie uma classe que representará o arquivo.
-  Crie Três imóveis (objetos) que estão no dataset.

In [23]:
import pandas as pd

In [24]:
url = 'dataset/aluguel.csv'
pd.read_csv(url)

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [25]:
dados = pd.read_csv(url,sep=";")
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

#### Verificar Colunas

In [26]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

#### Classe

In [27]:
class aluguel:
    def __init__(self,bairro,quartos,tipo):
        self.bairro = bairro
        self.quartos = quartos
        self.tipo = tipo

    def impressao(self):
        return print(self.bairro,self.quartos,self.tipo)

#### Criar 3 Imóveis

Imóvel 1

In [33]:
p1 = aluguel(quartos=1,bairro="Copacabana",tipo="Quitinete")
p1.impressao()

Copacabana 1 Quitinete

Imóvel 2

In [34]:
p2 = aluguel(quartos=2,bairro="Jardim Botânico",tipo="Casa")
p2.impressao()

Jardim Botânico 2 Casa

Imóvel 3

In [32]:
p3 = aluguel(quartos=4,bairro="Ipanema",tipo="Apartamento")
p3.impressao()

Ipanema 4 Apartamento

#### Cabeçalho

In [31]:
df = pd.read_csv (url,sep=";")
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN